body{margin:0;}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}
#wrapper{
    width:1000px;
    margin:0 auto;
}
.panel{
    background:#2aa2d4;
    height:30px;
    padding:10px 20px;
    width:100%;
}
.social-block {
    float:left;
}
.left{float:left;}

.right{float:right;}

.top-menu{
    padding-top:5px;
    float:right;
}

.top-menu ul li {
    float:left;
    border-right:1px solid #fff;
    padding: 0px 10px;
}
.top-menu ul li:last-child {
    border:none;
}
.top-menu ul li a{
    color:#FFF;
    font-size: 12px;
    text-decoration: none;
}

.header-left {
    width: 50%;
    float: left;
    padding: 40px 0;
}
.logo {
    padding: 11px 20px 0px 20px;
    float: left;
}
.description {
    float: left;
    color: #999999;
    border-left: 1px solid #999999;
    padding-left: 10px;
    font-size: 14px;
}
.header-right {
    width: 27%;
    float: right;
}
.search-block {
    margin-top: 55px;
}
.search-block input[type="text"] {
    background: #2a2a2a;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
}
.search-button {
    background: #2aa2d4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;
    border: none;
    padding: 10px;
    color: #fff;
}
.nav {
    clear: both;
    background-color: #2a2a2a;
    overflow: hidden;
    padding: 15px 0 0;
}

.nav ul li{
    border-right:1px solid #404040;
    border-left:1px solid #404040;
}
.nav ul li a{
    float: left;
    padding: 4px 14px;
}

.nav ul li a{color:#999999; text-decoration: none;}

.nav ul li a.active{
    padding-bottom: 17px;
    color:#fff;
    border-bottom:3px solid  #2aa2d4;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 7px;
    text-align: center;
    background: #151515;
    width: 330px;
    float: right;
    right: 10px;
    height: 130px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.middle-panel{
    margin-top: 50px;
}
.box{float:left;width:25%;}

.box img{float:left;}

.box-inner{
    float:left;
    width: 190px;
    margin-left: 10px;
}

.box-inner h2 {
    margin: 0;
    color: #2aa2d4;
    font-size: 17px;
    font-weight: normal;
}

#link{
    cursor:pointer;
}
#link img{
    text-align: center;
    display: block;
    margin: 0 auto;
}
#link p{
    text-align: center;
    padding: 0;
    margin: 0;
}

.project-descriptio{clear:both;}

.left-panel{
    float:left;
    width: 49%;
}
.left-panel h3,.right-panel h3{
    border-bottom:1px solid #e6e6e6

}
.big-box{float:left;width:49%;}

.right-panel{
    float:right;
    width: 50%;
}